<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Employee Registration</title>
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
</head>
<body>
    <h2>日報管理システム</h2>
    <h1>従業員 新規登録ページ</h1>

    <form th:action="@{employee/signup}" method="post">
        <div>
            <label for="employee-code">社員番号:</label>
            <br>
            <input type="text" id="employee-code" name="employee-code" required>
        </div>
        <div>
            <label for="name">氏名:</label>
            <br>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="password">パスワード:</label>
            <br>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
           <label for="role">権限</label>
           <br>
           <select id="role" name="role" required>
                <option value="admin">管理者</option>
                <option value="user">一般</option>
  </select>
</div>

        <button type="submit">投稿</button>
    </form>
</body>
</html>