<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Employee Registration</title>
    <link rel="stylesheet" th:href="@{/css/user/update.css}">
</head>
<body>
    <h2>日報管理システム</h2>
    <h1 id="employee-detail-title">id: <span th:text="${employee.id}"></span> 従業員情報 編集ページ</h1>
    <h3>(パスワードは変更する場合のみ入力してください)</h3>


        <form th:action="@{/employee/update/{id}(id=${employee.id})}" method="post" th:object="${employee}" >

        <input type="hidden" th:field="*{id}"/>
        <p>
            <label for="employee-code">社員番号</label>
            <br>
            <span th:text="${employee.authentication.code}"></span>
        </p>
                <p>
            <label for="name">氏名</label>
            <br>
            <input type="text" th:field="*{name}" >
        </p>
        <p>
            <label for="password">パスワード</label>
            <br>
            <input type="password" th:field="*{authentication.password}" />
        </p>
        <label for="role">権限</label>
        <br>
            <select th:field="*{authentication.role}" th:errorclass="err">

                <option
                    th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
                    th:value="${item}" th:text="${item}" th:selected="*{authentication.role} == ${item}"></option>
            </select>
            <br>
            <br>
            <input type="submit" value="投稿">
            <br>
            <a th:href="@{/employee/delete/{id}(id=${employee.id})}"  >この従業員情報を削除する</a>

            <br>
            <a href="/employee/list">一覧に戻る</a>

  </form>



</body>
</html>